@import "grid";
/*Global font*/
h1{
  font: normal normal bold 40px/60px SF Pro Text;
  @include phone(){
    font: normal normal bold 32px/48px SF Pro Text;
  }
}
h2{
  font: normal normal bold 32px/48px SF Pro Text;

}
h3{
  font: normal normal 600 24px/36px SF Pro Text;

}
h5{
  font: normal normal 300 20px/30px PingFang TC;
}
p{
  font: normal normal 300 16px/24px SF Pro Text;
}


